:root {
    --firstLightBlockColor: #ff816a;
    --secondDarkBlockColor: #5d1b23;
    --template-max-width-side: 1152px;
    --content-max-width-side: 972px;
    --main-color-white-shade: #ffffff;
    --main-color-black-shade: #000000;
}

html {
    background: #5d1b23;
}

body {
    margin: auto;
    background: white;
    color: var(--main-color-white-shade)

}
.mainMenuLogo {
    /*color: white;*/
}

header {
    max-width: var(--template-max-width-side);
    background: url("../img/background/headerfon.svg");
    height: 632px;
    margin: auto;
}

.mainMenu {
    max-width: var(--content-max-width-side);
    margin: auto;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}
.menuBlock {
    width: 40%;
}
.mainTextMenu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.mainTextMenu li {
    list-style-type: none;
    color: var(--main-color-white-shade);
}

.headerInfoBlock {
    max-width: var(--content-max-width-side);
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.bisnessManagement {
    display: flex;
    flex-direction: column;
    color: var(--main-color-white-shade);
}

.bisnessManagement h1 {
    margin-top: 10%;
}

.startButton{
    background-color: var(--firstLightBlockColor);
    border: 3px solid var(--main-color-white-shade);
    border-radius: 15px;
    color: var(--main-color-white-shade);
}


.padBlock {
    /*text-align: right;*/
}

main {
    max-width: var(--content-max-width-side);
    margin: auto;
}

.serviceInfo {
    text-align: center;
    color: var(--main-color-black-shade);
}
.serviceInfo p:not(:first-child){
    margin: 0;
}

.servicesLinks {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.servicesLinks img {
    margin: auto;
}

.aboutOfficeService {
    max-width: var(--template-max-width-side);
    margin: auto;
    height: 532px;
    background: url("../img/background/mainfon.svg");
    text-align: center;
    color: var(--main-color-white-shade);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.aboutOfficeService>img {
    margin: 5% auto 0 auto;
}
.aboutOfficeService p {
    text-align: center;
    margin-top: 0;

}
.officeSystemLinks {
    display: flex;
    justify-content: space-around;
}
.shortInfoAboutProject {
    max-width: var(--template-max-width-side);
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 210px;
}

.infoText {
    color: var(--secondDarkBlockColor);
    margin-left: 90px;
    margin-right: 5%;
    margin-top: 2%;
}

.infoText p {
    margin-left: 5%;
    font-size: small;
}
.logoMainBig {
    overflow: paged-x-controls;
    margin-top: -6%;
}

.startEmployeeSection {
    max-width: var(--template-max-width-side);
    margin: auto;
    background: url("../img/background/bottom_part.svg");
    height: 532px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-color-white-shade);
}

.startEmployeeSection h2{
    display: block;
    height: 50px;
    font-size: 40px;
}

.socialIconsBlock {
    /*margin-top: 50px;*/
}

.socialIcons {
    max-width: var(--content-max-width-side);
    margin: auto auto 50px auto;
    color: black;
    font-size: 40px;
}

.footerMenuLogo {
    float: left;
}

.socialMenu {
    display: flex;
    justify-content: flex-end;
}

.socialMenu li{
    list-style-type: none;
    color: var(--firstLightBlockColor);
    margin-left: 8%;

    /*justify-content: stretch;*/
}

.fa-play-circle {
    font-size: 120px;
}

footer {
    max-width: var(--content-max-width-side);
    margin: auto;
    color: var(--firstLightBlockColor);
}

.rightReserved {
    margin-top: 4%;
    color: var(--main-color-black-shade);
    font-size: x-small;
}

.rightReserved nav{
    margin-right: 0;
}

.rightReserved p {
    float: left;
}

.footerMenu li {
    list-style-type: none;
    color: var(--firstLightBlockColor);
    margin-left: 4%;
}
.footerMenu {
    display: flex;
    justify-content: flex-end;
}